@media screen and (min-width: 600px) and (max-width: 795px) {
    body {
        font-size: 11px;
    }

    .nav-pills.card-header-tabs {
        flex-direction: column;
    }

    .phone-link {
        display: none;
    }
}